div[id=banner] {
    background-color: #fcec6d;
    background-size:100% 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    margin-top: 20px;
}
h1{
    font-size: 60px !important;
    color: #491b5c;
}
.imageWithDescription-image{
    margin: 40px 40px 40px 200px;
    width: 250px;
    height: 250px;
}
.imageWithDescription-text{
    margin: 40px 40px 40px 100px !important;
}
.imageWithDescription-text button{
    width: 30%;
}
.imageWithDescription-text a {
    background-color: #ce4cd9;
    color: white !important;
    width: 15%;
    padding: 15px 35px 15px 35px;
    margin: 10px 0px;
    border: none;
    cursor: pointer;
}